option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production

  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
    NodeVersion: 6.14.4
    NodeCommand: npm run start-prod

  aws:elasticbeanstalk:container:nodejs:staticfiles:
    "/static" : "/static"


container_commands:
  00_unpack_staticfiles:
    command: "tar xfz snippod-demo-production-staticfiles.tar.gz"
